*:focus {
    outline: none;
}
a:link {
    color: #B846CF;
}
/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}
body {
    font: 14px/21px"Avantgarde", "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    background-color: #000000;
}
#footer {
    margin:2px; background:#47FFC8; color:#B846CF;text-align:center;font-size:x-small;
    }
label {
     float:left;
    padding-right: 15px;
    text-indent: 5px;
}
#wrapper {
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    border: 2px solid #47ffc8;
    background:#000000;
}
h1 {
    color: #47FFC8;
    margin: 10px 0 20px 0;
    padding: 0;
    font-size: 24px;
    text-align:center;
}
input#item {
    float:left;
    margin-bottom:5px;
}
input#remove {
    float:right;
    margin-bottom:20px;
    margin-right:5px;
    background-color: #FFFEFF;
     color: #B846CF;
     font-size:smaller;
      width: 65px;
}
input#adds {
    float:left;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:10px;
     margin-top:5px;
    background-color: #FFFEFF;
     color: #B846CF;
      font-size:smaller;
}
input[type=checkbox] {
    vertical-align:middle;
}
input[type=button] {
    vertical-align:middle;
    float:right;
    margin-bottom:10px;
    margin-right:1,5;
    margin-left:10px;
    background-color: #FFFEFF;
    color: #B846CF;
    width: 60px;
}
ul {
    list-style-type:none;
    list-style-position:outside;
    margin:10px 0px;
    padding:0px;
    clear:both;
}
li {
    background: #FFFEFF;
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
    border: #47FFC8 solid 1px;
}
li:nth-child(odd) {
    background: #47FFC8;
}
li a {
    font-size:small;
}
form a {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    cursor: pointer;
    float:right;
    font: 11px sans-serif;
    margin: 0;
    margin-top:2px;
    outline: medium none;
    overflow: visible;
    height:17px;
    padding:0.3em 0.3em 0 0.3em;
    text-decoration: none;
    white-space: nowrap;
    background-color: #47FFC8;
    background-image: -moz-linear-gradient(center top, #47FFC8, #B846CF);
    border: 1px solid #47FFC8;
    color: #B846CF;
}
form a:hover {
    background-color: #47FFC8;
    background-image: -moz-linear-gradient(center top, #47FFC8, #B846CF);
    border: 1px solid #47FFC8;
    color: #B846CF;
}
#labels {
     margin:2px; background:#47FFC8; color:#B846CF;text-align:center;font-size:small;
}
}
form a:active {
    border-color: #47FFC8;
    color: #B846CF;
    text-shadow: none;
}
form a.delete {
    background-color: #47FFC8;
    background-image: -moz-linear-gradient(center top, #47FFC8, #B846CF);
    border: 1px solid #47FFC8;
    color: #B846CF;
    margin-top:0px;
    height:17px;
}
form a.delete:hover {
    background-color: #47FFC8;
    background-image: -moz-linear-gradient(center top, #47FFC8, #B846CF);
    border: 1px solid #47FFC8;
    color: #B846CF;
}
form a.delete:active {
    border-color: #47FFC8;
    color: #B846CF;
    text-shadow: none;
}
